    
        <footer>
            <div class="footer-mobail hidden-lg-up">
                <a href="#nav-footer" class="footer-menu hamburger hamburger--collapse">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    <span class="hamburger-label">Меню</span>
                </a>
                <ul id="nav-footer">
                    <li><a href="javascript: void(0);">Наши результаты</a></li>
                    <li><a href="javascript: void(0);">Статьи</a></li>
                    <li><a href="javascript: void(0);">О компании</a></li>
                    <li><a href="javascript: void(0);">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-content hidden-md-down">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-ico">
                                <i class="footer-map"></i>
                            </div>
                            <ul>
                                <li> <strong>Адрес:</strong> </li>
                                <li>г. Санкт-Петербург,</li>
                                <li>пл. Карла Фаберже, д.8</li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-ico">
                                <i class="footer-phone"></i>
                            </div>
                            <ul>
                                <li> <strong>Телефоны:</strong> </li>
                                <li>8 (812) 642-61-34</li>
                                <li>8 (812) 946-21-10</li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-ico">
                                <i class="footer-mass"></i>
                            </div>
                            <ul>
                                <li> <strong>E-mail:</strong> </li>
                                <li>info@tor.ru</li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-ico">
                                <i class="footer-tim"></i>
                            </div>
                            <ul>
                                <li> <strong>Время работы:</strong> </li>
                                <li>без выходных</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copy hidden-md-down">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <p>2016 © ООО «АРГОР». Все права защищены</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-soz">
                                <ul>
                                    <li>
                                        <a class="soz-ico-1" href="javascript: void(0);"></a>
                                    </li>
                                    <li>
                                        <a class="soz-ico-2" href="javascript: void(0);"></a>
                                    </li>
                                    <li>
                                        <a class="soz-ico-3" href="javascript: void(0);"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <p class="buka right">Разработка сайта - <a href="javascript: void(0);">BukA</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>
    <div class="popap-box">
        <div id="form-popap" class="form-popap mfp-hide">
            <div class="form-bond">
                <strong>Заполните поля</strong>
                <p>
                    чтобы мы с вами связались
                </p>
                <form action="javascript: void(0);">
                    <input type="text" placeholder="Ваше имя">
                    <input type="tel" placeholder="Номер телефона *" required="">
                    <input class="button popup-modal-dismiss" type="button" value="Решить проблему">
                </form>
            </div>
        </div>
    </div>
<script src="js/main.js"></script>

    </body>
</html>