    
        <footer>
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="footer-ico">
                                <i class="footer-map"></i>
                            </div>
                            <ul>
                                <li> <strong>Адрес:</strong> </li>
                                <li>г. Санкт-Петербург,</li>
                                <li>пл. Карла Фаберже, д.8</li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-ico">
                                <i class="footer-phone"></i>
                            </div>
                            <ul>
                                <li> <strong>Телефоны:</strong> </li>
                                <li>8 (812) 642-61-34</li>
                                <li>8 (812) 946-21-10</li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-ico">
                                <i class="footer-mass"></i>
                            </div>
                            <ul>
                                <li> <strong>E-mail:</strong> </li>
                                <li>info@tor.ru</li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <div class="footer-ico">
                                <i class="footer-tim"></i>
                            </div>
                            <ul>
                                <li> <strong>Время работы:</strong> </li>
                                <li>без выходных</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copy">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <p>2016 © ООО «АРГОР». Все права защищены</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="footer-soz">
                                <ul>
                                    <li>
                                        <a class="soz-ico-1" href="javascript: void(0);"></a>
                                    </li>
                                    <li>
                                        <a class="soz-ico-2" href="javascript: void(0);"></a>
                                    </li>
                                    <li>
                                        <a class="soz-ico-3" href="javascript: void(0);"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <p class="buka right">Разработка сайта - <a href="javascript: void(0);">BukA</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>
    
<script src="js/main.js"></script>

    </body>
</html>