<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TITLE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <header>
            <div class="header-top">
                <div class="container">
                    <div class="row both">
                        <div class="logo-box left">
                            <a href="javascript: void(0);">
                                <i class="logo"></i>
                            </a>
                            <span>Сложная недвижимость</span>
                        </div>
                        <div class="phone-box right">
                            <p class="adress">
                                г. Санкт-Петербург, <br>
                                пл. Карла Фаберже, д.8
                            </p>
                            <p>
                                8 812 / <b> 642-61-34</b> <br>
                                <span>без выходных</span>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="container">
                    <div class="row">
                        <div class="rm-container">
                            <button class="rm-toggle rm-button rm-nojs hamburger hamburger--collapse" type="button">
                                  <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                  </span>
                                  <span class="hamburger-label">Услуги</span>
                            </button>
                            
                            <nav class="rm-nav rm-nojs rm-lighten">
                                <ul class="nav-menu">
                                    <li>
                                        <a href="javascript: void(0);">Выкуп недвижимости </a>
                                        <ul>
                                            <li><a href="javascript: void(0);">квартир</a></li>
                                            <li><a href="javascript: void(0);">комнат</a></li>
                                            <li><a href="javascript: void(0);">долей</a></li>
                                            <li><a href="javascript: void(0);">коммерческой недвижимости</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript: void(0);">Займы под залог</a></li>
                                    <li>
                                        <a href="javascript: void(0);">Продажа недвижимости</a>
                                        <ul>
                                            <li><a href="javascript: void(0);">квартир</a></li>
                                            <li><a href="javascript: void(0);">комнат</a></li>
                                            <li><a href="javascript: void(0);">долей</a></li>
                                            <li><a href="javascript: void(0);">коммерческой недвижимости</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript: void(0);">Иные услуги</a></li>
                                    <li><a href="javascript: void(0);">Наши результаты</a></li>
                                    <li><a href="javascript: void(0);">Статьи</a></li>
                                    <li><a href="javascript: void(0);">О компании</a></li>
                                    <li><a href="javascript: void(0);">Контакты</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
               
            </div>
        </header>