@import "partials/path";
@import "partials/font";
@import "partials/print";

/////////////////////////////////////



// HEADER
header{
  
}
.header-top{
  padding :12px 0 5px;
}
.logo-box{
  
  span{
    font-size :rem(14);
    padding :0 23px;
  }
  i{
    vertical-align :middle;
  }
}
.phone-box{
  width :530px;
  text-align :right;
  p{
    float :left;
    width :50%;
    font-size :rem(14);
    line-height :1.5;
    b{
      font-size :rem(30);
      line-height :0.89;
    }
  }
  .adress{
    
  }
}
.header-nav{
  background-color :#f1f1f1;
  padding: 13px 0 10px;
  .nav-menu{
    li{
      a{
        font-size :rem(15);
        @include transition(color 0.5s $ease-out-cubic);
        padding-right :rem(26);
      }
      &.rm-parent{
        >a{
          position :relative;
          &:after{
            content :'';
            background :url('../images/nav-down.png') 0 0 no-repeat;
            width : 6px;
            height : 6px;
            position :absolute;
            right :10px;
            bottom :10px;
          }
        }
      }
    }
    
    ul{
      background-color :#f1f1f1;
      &.rm-menu-expanded{
        border-bottom :5px solid #53799c;
      }
      li{
        padding :0 12px;
        &:last-child{
          a{
            border :none;
          }
        }
        a{
          padding :10px 0!important;
          font-size :rem(15);
          color :$color-text!important;
          border-bottom :1px dotted #60594e;
          &:hover{
            color :#53799c!important;
            
          }
        }
      }
    }
  }
  
}
.hamburger-label{
  display :inline-block;
  vertical-align :top;
  padding :1px 15px;
  font-size :rem(15);
  text-transform :uppercase;
}
// \HEADER\


/********************************
*    Слайдер-Карусель Swiper
********************************/

.swiper-container {
  width: 100%;

}
.swiper-slide{
  position: relative;
  overflow: hidden;
}
.slider{
  width: 100%;
  height: 250px;
  img{
    width:100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
.wr-slider{
  position :relative;
  //background-color :#096a96;
  //min-height: 333px;
  margin :0 0 -4px;
  img{
    width :100%;
    height :100%;
    min-height: 333px;
  }
  .container{
    position :relative;
    z-index :2;
  }
  .form-posiz{
    position :absolute;
    width :100%;
    height :100%;
    top :0;
    left :0;
    right :0;
    .container{
      height :100%;
    }
  }
}
.swiper-button-prev,
.swiper-button-next{
  display :inline-block;
  z-index :999;
  -moz-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
  opacity :0.8;
  @include transition(all 0.5s $ease-out-cubic);
  &:hover{
    opacity :1;
  }
}
.swiper-slide{
  position :relative;
  overflow :hidden;
  text-align :center;
  .container{
    height :100%;
    top :0;
  }
}
.wr-cal{
  position :absolute;
  top :50%;
  left :0;
  right :0;
  bottom :50%;
  width :100%;
  height :100%;
  margin-top :-150px;
}
.cal{
  position :absolute;
  top :0;
  bottom :0;
  left :20px;
  height :300px;
  color :#fff;
  font-size :rem(48);
  text-align :left;
  span{
    background-color: #2a2a2a;
    background-color :rgba(42,42,42,0.7);
    padding :0 10px;
    animation-duration: 1.5s;
    animation-delay: 0s;
    display :inline-block;
    &:nth-child(2){
      animation-delay: 2.2s;
    }
    &:nth-child(3){
      animation-delay: 0.4s;
    }
    &:nth-child(4){
      animation-delay: 0.6s;
    }
    &:nth-child(5){
      animation-delay: 0.8s;
    }
    &:nth-child(6){
      animation-delay: 1s;
    }
    &:nth-child(7){
      animation-delay: 1.2s;
    }
    &:nth-child(8){
      animation-delay: 1.4s;
    }
    &:nth-child(9){
      animation-delay: 1.6s;
    }
    &:nth-child(10){
      animation-delay: 1.8s;
    }
  }
  
 
}
.swiper-wrapper{
  height :100%;
}
.text{
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.1s;
}
.form-bond{
  width :370px;
  background-color :#000;
  background-color :rgba(0,0,0,0.7);
  -webkit-border-radius :5px;
  -moz-border-radius    :5px;
  border-radius         :5px;
  color :#fff;
  padding: 21px 35px 10px;
  &.posiz{
    position :absolute;
    top :50%;
    bottom :50%;
    margin-top :-150px;
    right :0;
    z-index :9;
    height :300px;
  }

  strong{
    font-size :rem(26);
  }
  p{
    margin :10px 0;
  }
  form{
    padding :10px 0 0;
    input{
      width :100%;
      padding :16px;
      border :none;
      font-size :rem(14);
      margin :6px 0;
      color :$color-text;
      -webkit-border-radius :2px;
      -moz-border-radius    :2px;
      border-radius         :2px;
      &.button{
        font-size :rem(16);
      }
    }
  }
}
.button{
  border :none;
  background-color : darken($color-astsent,4.2%);
  text-transform :uppercase;
  color :$color-text;
  font-weight :bold;
  font-size :rem(16);
  -webkit-border-radius :2px;
  -moz-border-radius    :2px;
  border-radius         :2px;
  @include transition(all 0.5s $ease-out-cubic);
  &:hover{
    background-color :$color-astsent;
  }
  &:focus{
    outline :none;
    background-color : lighten($color-astsent,4.2%);
  }
}
.button-form{
  text-align :center;
  padding :10px 0 15px;
  .button{
    display :inline-block;
    width: 95%;
    padding :10px 0;
    background-color: #f1c40f;
    background-image: linear-gradient(to top, #f1c40f 0%, #ffde00 100%);
    border: 1px solid #fedc01;
    border-radius: 2px;
    box-shadow: 0 5px 0 #d1a90b;
    color: #333;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align :center;
  }
}

/********************************
*   \Слайдер-Карусель Swiper\
********************************/

// immobilien

.immobilien{
  background-color :$color-text;
}
.immobilien-box{
  position :relative;
  z-index :9;
  .item{
    position :relative;
    float :left;
    width :33.333%;
    color :#fff;
    padding: 26px 9px 10px;
    min-height :138px;
    bottom :0;
    @include transition(all 0.5s $ease-out-cubic);
    strong{
      font-size :rem(20);
      @include transition(all 0.5s $ease-out-cubic);
    }
    p{
      font-size :rem(14);
    }
    a{
      position :absolute;
      top :0;
      left :0;
      bottom :0;
      right :0;
      z-index :9;
    }
    &.active{
      background-color :darken($color-text, 8.4%);
    
      strong{
        color :$color-astsent;
      }
      .immob-1{
        @include sprite($immob-1-hover);
      }
      .immob-2{
        @include sprite($immob-2-hover);
      }
    }
  }
}

// \immobilien\



// wir-empfehlen
.wir-empfehlen{
  background-color :#f3f4ef;
  text-align :center;
  padding: 42px 0 45px;
  h4{
    color :#60594e;
    margin :0 0 49px;
  }
  .item{
    color :#403c33;
    strong{
      font-size :rem(18);
      text-transform :uppercase;
      background :url('../images/kreis-titles.png') 50% 100% no-repeat;
      padding :0 0 12px;
    }
    p{
      padding :7px 0;
    }
  }
 
}
.kreis{
  width: 123px;
  height: 123px;
  margin :0 auto 29px;
  background-color: #e9e8e0;
  -webkit-border-radius :50%;
  -moz-border-radius    :50%;
  border-radius         :50%;
  text-align :center;
  i{
    vertical-align :middle;
  }
}


// \wir-empfehlen\


//examples
.examples{
  padding: 51px 0 8px;
  h2{
    text-align :center;
    margin :0 0 58px;
  }
}
.examples-slid{
  
  .swiper-slide{
    text-align :left;
    div{
      @include box-sizing(border-box);
    }
   
  }
  h5{
    font-family :$tahoma;
    font-weight :bold;
    font-size :rem(18);
    margin :0;
    text-transform :uppercase;
  }
  p{
    line-height: 25px;
    margin :12px 0;
  }
}
.result-box{
  width :340px;
  background-color :$color-astsent;
  padding :23px 0 30px;
  strong{
    color :#fff;
    background-color: #2a2a2a;
    font-weight: 700;
    text-transform: uppercase;
    display :inline-block;
    padding :15px 15px 15px 0;
    min-width :169px;
    position :relative;
    font-family :$tahoma;
    &:before{
      content :'';
      width :30px;
      height :100%;
      position :absolute;
      top :0;
      left :-29px;
      background-color: #2a2a2a;
      display :inline-block;
    }
  }
  ul{
    padding: 13px 35px;
  }
  li{
    text-transform: uppercase;
    font-size :rem(14);
    line-height: 33px;
    margin :0 0 28px;
    &:last-child{
      margin :0;
    }
    b{
      display :block;
      font-size :rem(30);
      text-transform :none;
      line-height: 20px;
    }
  }
}
.examples-slid-button{
  padding :13px 0;
}
.ex-prev,
.ex-next{
  background-color :#f3f4ef;
  padding: 14px 16px 12px;
  width :49.8%;
  cursor :pointer;
  @include transition(all 0.5s $ease-out-cubic);
  &:hover{
    background-color: #515151;
    .examples-slid-next{
      @include sprite($examples-slid-next-hover);
    }
    .examples-slid-prev{
      @include sprite($examples-slid-prev-hover);
    }
  }
}
.ex-prev{
  text-align :right;
}
//\examples\


// applic
.applic{
  background-color :$color-text;
  color :#fff;
  padding :52px 0 42px;
  strong{
    font-size :rem(28);
    display :inline-block;
    vertical-align :middle;
  }
  form{
    input{
      border :1px solid $color-astsent;
      background-color :transparent;
      color :#fff;
      padding :14px 15px;
      width :270px;
      margin: 0 15px 0 10px;
      &.button{
        background-color :$color-astsent;
        -webkit-border-radius :0;
        -moz-border-radius    :0;
        border-radius         :0;
        text-transform :none;
        color :$color-text;
        font-weight :normal;
        margin :0;
        float :right;
        &.blue{
          background-color: #53799c;
          color :#fff;  
          &:hover{
            background-color: lighten(#53799c,10%);
          }
        }
      }
      &:focus{
        outline :none;
      }
    }
  }
  .row{
    div{
      padding :0;
    }
  }
}
.button{
  &.blue{
    background-color: #53799c;
    color :#fff;
    &:hover{
      background-color: lighten(#53799c,10%);
    }
  }
}
// \applic\



// ransom

.ransom{
  p{
    line-height :25px;
  }
 
}
.titles-center{
  text-align :center;
  padding :36px 0;
 
}
.credo{
  background-color :$color-astsent;
  padding: 25px 39px;
  min-height: 184px;
  margin :0 0 30px;
}
.trust-us{
  h5{
    text-transform :uppercase;
    padding-left: .9375rem;
    padding-right: .9375rem;
    margin :39px 0;
  }
}
.titles-h{
  border-bottom :6px solid #e4e9ef;
  display :block;
  color :#e4e9ef;
  font-size :rem(44);
  font-weight :bold;
  line-height :35px;
}


// \ransom\


// title-pages

.title-pages{
  background-color :#3d4653;
  padding :22px 0;
  h1{
    color :#fff;
    margin :0;
  }
}

// \title-pages\


// nav-aside

.nav-aside{
  padding: 34px 0;
  >ul{
   
    >li{
      margin :12px 0;
      >a{
        border :none;
        background-color :#e9e8e0;
        color :#60594e;
        text-transform :uppercase;
        font-size :rem(15);
        position :relative;
        -webkit-border-radius :3px;
        -moz-border-radius    :3px;
        border-radius         :3px;
        @include transition(all 0.5s $ease-out-cubic);
        &:hover{
          background-color: #53799c;
          color :#fff;
        }
      }
      &.trigon{
        >a{
          &:after{
            content :'';
            border-top :7px solid #e9e8e0;
            border-left :7px solid transparent;
            border-right :7px solid transparent;
            position :absolute;
            bottom :-6px;
            left :10px;
            z-index :2;
            @include transition(all 0.5s $ease-out-cubic);
          }
          &:hover{
            &:after{
              border-top-color :#53799c;
            }
          }
        }
      }
    }
  }
  ul{
    ul{
      li{
        &:last-child{
          a{
            border :none;
          }
        }
      }
    }
   
    
  }
  li{
    
  }
  a{
    padding :11px 17px;
    font-size :rem(16);
    color :$color-text;
    border-bottom :1px dotted #60594e;
    display :block;
    @include transition(all 0.5s $ease-out-cubic);
    &:hover{
      color :#da940d;
    }
  }
}

// \nav-aside\

// article-item

.h4{
  font-weight :bold;
  font-family :Tahoma;
  font-size :rem(20);
  margin :20px 0 10px;
  text-transform :uppercase;
  margin: 44px 0 24px;
}
.number-list{
  list-style :decimal;
  padding :0 0 0 20px;
  li{
    padding :0 0 0 10px;
  }
  a{
    text-decoration :underline;
    &:hover{
      text-decoration :none;
    }
  }
  p{
    font-size :rem(14);
  }
}

// \article-item\


// contacts

.contacts{
  padding :45px 0 0;
}
.list-adress{
  li{
    margin :0 0 16px;
  }
  b{
    font-family :$tahoma;
    font-weight :bold;
  }
}
.feedback-form{
  background-color: #f1f1f1;
  border-radius: 5px;
  padding :23px;
  h4{
    margin :0 0 16px;
  }
  input,
  textarea{
    width :100%;
    border-radius: 2px;
    border :none;
    padding :16px;
    margin :7px 0;
    font-size :rem(14);
    color: #6c6c6c;
  }
  textarea{
    resize:none;
    min-height :172px;
  }
}
.map{
  margin :70px 0 0;
}

// \contacts\


// examples-box

.examples-box{
  
}
.box-examples{
  padding :44px 0;
}
.examp-item{
  text-align :left;
  margin :0 0 25px;
  .result-box{
    width :100%;
  }
  h5{
    text-transform :uppercase;
    font-size :rem(18);
  }
  p{
    line-height :23px;
    padding :0 20px 0 0;
  }
}
.h2-cast{
  font-size :rem(30);
  color :#47474d;
  border-bottom :3px solid #47474d;
  padding :0 0 12px;
  margin :0 0 23px;
}

// \examples-box\


// service-box

.service-box{
  padding :30px 0;
  p{
    line-height :25px;
  }
  h5{
    text-transform :uppercase;
    margin :22px 0;
  }
  cite{
    margin-bottom :20px;
    margin-top :10px;
    line-height :25px;
  }
  ul{
    padding :0 0 0 16px;
  }
  li{
    background :url('../images/list-style.png') 0 8px no-repeat;
    padding :0 0 0 20px;
    margin :8px 0;
  }
}
cite{
  border-left :8px solid #e4e9ef;
  font-style :normal;
  margin :0 0 0 15px;
  padding :0 0 0 25px;
  display :inline-block;
}

// \service-box\


// bread-crumbs
.bread-crumbs{
  ul{
    padding: 9px 1px;
    li{
      background :url('../images/bread-crumbs.png') 100% 5px no-repeat;
      padding :0 15px 0 0;
      display :inline-block;
      &:last-child{
        background-image :none;
        a{
          text-decoration :none;
          cursor :default;
        }
      }
    }
    a{
      display :inline-block;
      font-family :Tahoma;
      font-size :rem(12);
      color :#3d4653;
      text-decoration :underline;
      &:hover{
        text-decoration :none;
      }
    }
  }
 
}
//\bread-crumbs\



















// footer

footer{
  background :#0f0f0f url('../images/footer-bg.jpg') 50% 0 no-repeat;
  padding :58px 0 0;
  margin :63px 0 0; 
}
.footer-content{
  text-align :center;
  color :#fff;
  min-height: 208px;
  strong{
    font-size :rem(18);
    text-transform :uppercase;
  }
  ul{
    margin :0;
  }
  li{
    margin :12px 0;
  }
}
.footer-ico{
  min-height :67px;
}
.footer-copy{
  font-size :rem(13);
  color :#fff;
  padding: 12px 0;
}
.footer-soz{
  text-align :center;
  margin :10px 0;
  ul{
    
  }
  li{
    display :inline-block;
    vertical-align :middle;
    margin :0 15px;
  }
  a{
    display :inline-block;
    vertical-align :middle;
    opacity :0.7;
    &:hover{
      opacity :1;
    }
  }
  
}
.buka{
  color :#898989;
  a{
    color :#898989;
    text-decoration :underline;
    @include transition(all 0.5s $ease-out-cubic);
    &:hover{
      text-decoration :none;
    }
  }
}
.footer-mobail{
  background-color :#000;
  .footer-menu{
    padding :25px 15px;
    border :none;
  }
  .hamburger-inner{
    background-color :#fff;
    &:before,
    &:after{
      background-color :#fff;
    }
  }
  .hamburger-label{
    color :#fff;
  }
  ul{
    padding :10px 30px;
  }
  li{
   &:last-child{
     a{
       border :none;
     }
   }
  }
  a{
    font-size :rem(15);
    color :#fff;
    display :block;
    border-bottom :1px dotted #fff;
    padding :5px 0;
  }
}
.list-footer{
  background-color :#323232;
  display :none;
}


// \footer\


// button-up

.button-up{
  z-index :999;
  width: 80px;
  height :100%;
  background-color :#3d4653;
  background-color :rgba(61, 70, 83, 0.1);
  position :fixed;
  top :0;
  left :-100px;
  text-align :center;
  padding: 15px 0;
  display :block;
  i{
    display :inline-block;
    border-bottom :5px solid #53799c;
    border-left :5px solid transparent;
    border-right :5px solid transparent;
    margin :0 3px 2px 0;
  }
  span{
    font-family :Tahoma;
    font-size :rem(13);
    color :#53799c;
  }
}

// \button-up\


// application

.application-box{
  position :fixed;
  z-index :999;
  top :0;
  right :-320px;
  width: 320px;
  height :100%;
  background-color :#000;
  background-color :rgba(0,0,0,0.8);
  display :block;
  .form-popap{
    position :absolute;
    width :100%;
    top :50%;
    bottom :50%;
    margin-top :-50%;
    padding :0 20px;
    .form-bond{
      width :100%;
      max-width: 100%;
    }
  }
}
.application{
  position :absolute;
  top :50%;
  bottom :50%;
  margin-top :-20%;
  left :-61px;
  background-color :transparent;
  display :inline-block;
}

// \application\

// application-box-mobail

.application-box-mobail{
  display :block;
  padding :10px;
  text-align :center;
  background-color :#f1c40f;
  font-family :Tahoma;
  font-weight :bold;
  font-size :rem(18);
  color :#000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  i{
    vertical-align :middle;
  }
  span{
    vertical-align :middle;
  }
}

// \application-box-mobail\




// popap

.popap-box{
  display :none;
}
.mfp-bg{
  opacity: 0.9;
  background-color: #252528;
}
.form-popap{
  .form-bond{
    -webkit-border-radius :0;
    -moz-border-radius    :0;
    border-radius         :0;
    background :none;
    width :100%;
    max-width :500px;
    margin :0 auto;
    padding :0;
    form{
      padding: 15px 0 0;
    }
    input,
    textarea{
      padding :14px;
      -webkit-border-radius :0;
      -moz-border-radius    :0;
      border-radius         :0;
      background-color :transparent;
      border :1px solid #fff;
      color :#fff;
      &:focus{
        outline :none;
      }
      &.button{
        background-color: #f1c40f;
        border :none;
        text-transform :none;
        font-family: Tahoma;
        font-size: 16px;
        color :#000;
        font-weight :normal;
      }
    }
    textarea{
      height :166px;
      width :100%;
      resize:none;
    }
    strong{
      font-size :rem(34);
    }
  }
}

// \popap\


//************ ПЛАВНАЯ АНИМАЦИЯ ***********//
//@include transition(all 0.5s $ease-out-cubic);



@import "partials/_media";
