@import "path";
//////////////////////////////////////////////////////


//   Font Stacks  НАБОРЫ БАЗОВЫХ ШРИФТОВ bourbon



$tahoma: "Tahoma", "Lucida Grande", "Verdana", "Arial", sans-serif;

body{
  font-family: $tahoma;
}

$ff-ptr :'PT Sans', sans-serif;
