@media screen and(max-width: 1199px) {
  .header-nav {
    .nav-menu{
      li{
         a{
           font-size :rem(14);
           padding-right :rem(5);
         }
        &.rm-parent{
          >a{
            &:after{
              right: -5px;
            }
          }
        }
       }
      
    } 
  }
  .result-box {
    width: 100%;
  }
  .applic {
    form {
      input {
        width: 215px;
      }
    }
  }
  .ransom{
    img{
      width :100%;
    }
  }
}
@media screen and(max-width: 1000px) {
  .nav-menu{
    >li{
      a{
        padding :0;
      }
    }
  }
} 
@media screen and (max-width:992px){
  
  .nav-aside{
    padding :0;
    >ul{
      >li{
        >a{
          padding-left :0;
          background-color :transparent!important;
          &:hover{
            background-color :transparent!important;
            color :#60594e;
          }
          &:after{
            display :none;
          }
        }
      }
    }
    ul{
      li{
        display :inline-block;
        a{
          display :inline-block;
          border :none;
          background-color: #e9e8e0;
          border-radius: 5px;
          margin :4px;
        }
      }
    }
  }
  .box-examples{
    padding :15px 0;
  }
  .header-nav {
    padding: 10px 0 8px;
  }
  .nav-menu{
    >li{
      background-color :#53799c;
      border-bottom :2px solid #e9e8e0;
      a{
        color :#fff!important;
        text-transform :uppercase;
        padding :10px 30px;
      }
      &.rm-parent{
        a{
          &:after{
            display :none;
          }
        }
      }
    }
    ul{
      border-bottom :none!important;
    }
  }
  .wr-slider{
    height :100%;
    img{
      width: 100%;
      min-height :100%;
    }
  }
  .cal {
    top: 25px;
    margin :0;
    bottom :auto;
    font-size :rem(24);
  }
  .wr-cal{
    margin-top:-100px;
  }
  .phone-box{
    width :auto;
    p{
      width :auto;
    }
  }
  .box-ico{
    text-align :center;
    margin-bottom :10px;
  }
  .immobilien-box{
    .item {
      min-height :200px;
      strong{
        font-size :rem(18);
      }
    }
  }
  .wir-empfehlen {
    .item {
      width: 60%;
      margin: 0 auto;
    }
  
  }
  .result-box{
    padding: 0 0 30px;
    strong{
      padding: 15px 30px;
      &:before{
        display :none;
      }
    }
    li{
      width :48%;
      display :inline-block;
    }
  }
  .applic {
    padding: 30px 0;
    form {
      input {
        width: 100%;
        margin :9px 0;
        &.button{
          margin :9px 0;
        }
      }
   
    }
  }
  .credo{
    margin :30px 0;
  }
  footer{
    background-image :none;
    padding :0;
    margin: 63px 0 56px;
  }
  
}
@media screen and (max-width:767px){

  .container-fluid{
    overflow :hidden;
  }
  .header-top {
    padding: 12px 6px 5px;
  }
  .phone-box{
    p {
      margin: 24px 0;
    }
  }
  .swiper-button-next, 
  .swiper-button-prev {
    opacity: .3;
  }
  .cal {
    //top :50px;
    //font-size: rem(30);
  }
  .immobilien-box{
    .item {
      div{
        padding :0;
      }
      strong{
        font-size :rem(14);
        text-align :center;
        display :inline-block;
      }
      p{
        font-size :rem(14);
      }
    }
  }
  .wir-empfehlen {
    .item {
      width: 100%;
    }
  }
  .examples{
    p,
    h5{
      padding :0 10px;
    }
  }
  .result-box {
    li {
      width: 100%;
      display: block;
    }
  }
  .applic {
    padding: 30px 10px;
  }
  .ransom{
    padding :0 10px;
  }
  .title-pages {
    h1{
      padding :0 0 0 15px;
    }
  }
  
  
}
@media screen and (max-width:543px){
  .cal {
    top: 25px;
    margin :0;
    bottom :auto;
  }
}

@media screen and (max-width:420px){
  .list-adress{
    b{
      display :block;
      margin :0 0 3px;
    }
  }
  .feedback-form{
    h4{
      font-size :rem(22);
      text-align :center;
    }
  }
  .cal {
    //top: 25px;
    //font-size :rem(26);
  }
  .wr-slider{
    height :160px;
    img{
      height :160px;
    }
  }
}