@import "path";
//////////////////////////////////////////////////////

$em-base: 16px;


html{
  font-size:$em-base;
}

body{
 
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b{

}

h1{
  
}
h2{
  
}
h3{
  
}
h4{
  
}
h5{
  
}
h6{
  
}

strong{
  
}
b{
  
}

p{
  
}

i{
  display :inline-block;
}