/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$application-mob-name: 'application-mob';
$application-mob-x: 0px;
$application-mob-y: 217px;
$application-mob-offset-x: 0px;
$application-mob-offset-y: -217px;
$application-mob-width: 37px;
$application-mob-height: 36px;
$application-mob-total-width: 292px;
$application-mob-total-height: 253px;
$application-mob-image: '../images/sprite.png';
$application-mob: (0px, 217px, 0px, -217px, 37px, 36px, 292px, 253px, '../images/sprite.png', 'application-mob', );
$application-name: 'application';
$application-x: 0px;
$application-y: 0px;
$application-offset-x: 0px;
$application-offset-y: 0px;
$application-width: 61px;
$application-height: 217px;
$application-total-width: 292px;
$application-total-height: 253px;
$application-image: '../images/sprite.png';
$application: (0px, 0px, 0px, 0px, 61px, 217px, 292px, 253px, '../images/sprite.png', 'application', );
$examples-slid-next-hover-name: 'examples-slid-next-hover';
$examples-slid-next-hover-x: 256px;
$examples-slid-next-hover-y: 110px;
$examples-slid-next-hover-offset-x: -256px;
$examples-slid-next-hover-offset-y: -110px;
$examples-slid-next-hover-width: 15px;
$examples-slid-next-hover-height: 24px;
$examples-slid-next-hover-total-width: 292px;
$examples-slid-next-hover-total-height: 253px;
$examples-slid-next-hover-image: '../images/sprite.png';
$examples-slid-next-hover: (256px, 110px, -256px, -110px, 15px, 24px, 292px, 253px, '../images/sprite.png', 'examples-slid-next-hover', );
$examples-slid-next-name: 'examples-slid-next';
$examples-slid-next-x: 271px;
$examples-slid-next-y: 110px;
$examples-slid-next-offset-x: -271px;
$examples-slid-next-offset-y: -110px;
$examples-slid-next-width: 15px;
$examples-slid-next-height: 24px;
$examples-slid-next-total-width: 292px;
$examples-slid-next-total-height: 253px;
$examples-slid-next-image: '../images/sprite.png';
$examples-slid-next: (271px, 110px, -271px, -110px, 15px, 24px, 292px, 253px, '../images/sprite.png', 'examples-slid-next', );
$examples-slid-prev-hover-name: 'examples-slid-prev-hover';
$examples-slid-prev-hover-x: 256px;
$examples-slid-prev-hover-y: 86px;
$examples-slid-prev-hover-offset-x: -256px;
$examples-slid-prev-hover-offset-y: -86px;
$examples-slid-prev-hover-width: 15px;
$examples-slid-prev-hover-height: 24px;
$examples-slid-prev-hover-total-width: 292px;
$examples-slid-prev-hover-total-height: 253px;
$examples-slid-prev-hover-image: '../images/sprite.png';
$examples-slid-prev-hover: (256px, 86px, -256px, -86px, 15px, 24px, 292px, 253px, '../images/sprite.png', 'examples-slid-prev-hover', );
$examples-slid-prev-name: 'examples-slid-prev';
$examples-slid-prev-x: 271px;
$examples-slid-prev-y: 86px;
$examples-slid-prev-offset-x: -271px;
$examples-slid-prev-offset-y: -86px;
$examples-slid-prev-width: 15px;
$examples-slid-prev-height: 24px;
$examples-slid-prev-total-width: 292px;
$examples-slid-prev-total-height: 253px;
$examples-slid-prev-image: '../images/sprite.png';
$examples-slid-prev: (271px, 86px, -271px, -86px, 15px, 24px, 292px, 253px, '../images/sprite.png', 'examples-slid-prev', );
$footer-map-name: 'footer-map';
$footer-map-x: 192px;
$footer-map-y: 95px;
$footer-map-offset-x: -192px;
$footer-map-offset-y: -95px;
$footer-map-width: 43px;
$footer-map-height: 42px;
$footer-map-total-width: 292px;
$footer-map-total-height: 253px;
$footer-map-image: '../images/sprite.png';
$footer-map: (192px, 95px, -192px, -95px, 43px, 42px, 292px, 253px, '../images/sprite.png', 'footer-map', );
$footer-mass-name: 'footer-mass';
$footer-mass-x: 192px;
$footer-mass-y: 179px;
$footer-mass-offset-x: -192px;
$footer-mass-offset-y: -179px;
$footer-mass-width: 42px;
$footer-mass-height: 34px;
$footer-mass-total-width: 292px;
$footer-mass-total-height: 253px;
$footer-mass-image: '../images/sprite.png';
$footer-mass: (192px, 179px, -192px, -179px, 42px, 34px, 292px, 253px, '../images/sprite.png', 'footer-mass', );
$footer-phone-name: 'footer-phone';
$footer-phone-x: 134px;
$footer-phone-y: 58px;
$footer-phone-offset-x: -134px;
$footer-phone-offset-y: -58px;
$footer-phone-width: 42px;
$footer-phone-height: 42px;
$footer-phone-total-width: 292px;
$footer-phone-total-height: 253px;
$footer-phone-image: '../images/sprite.png';
$footer-phone: (134px, 58px, -134px, -58px, 42px, 42px, 292px, 253px, '../images/sprite.png', 'footer-phone', );
$footer-tim-name: 'footer-tim';
$footer-tim-x: 192px;
$footer-tim-y: 137px;
$footer-tim-offset-x: -192px;
$footer-tim-offset-y: -137px;
$footer-tim-width: 43px;
$footer-tim-height: 42px;
$footer-tim-total-width: 292px;
$footer-tim-total-height: 253px;
$footer-tim-image: '../images/sprite.png';
$footer-tim: (192px, 137px, -192px, -137px, 43px, 42px, 292px, 253px, '../images/sprite.png', 'footer-tim', );
$immob-1-hover-name: 'immob-1-hover';
$immob-1-hover-x: 134px;
$immob-1-hover-y: 100px;
$immob-1-hover-offset-x: -134px;
$immob-1-hover-offset-y: -100px;
$immob-1-hover-width: 38px;
$immob-1-hover-height: 45px;
$immob-1-hover-total-width: 292px;
$immob-1-hover-total-height: 253px;
$immob-1-hover-image: '../images/sprite.png';
$immob-1-hover: (134px, 100px, -134px, -100px, 38px, 45px, 292px, 253px, '../images/sprite.png', 'immob-1-hover', );
$immob-1-name: 'immob-1';
$immob-1-x: 134px;
$immob-1-y: 145px;
$immob-1-offset-x: -134px;
$immob-1-offset-y: -145px;
$immob-1-width: 38px;
$immob-1-height: 45px;
$immob-1-total-width: 292px;
$immob-1-total-height: 253px;
$immob-1-image: '../images/sprite.png';
$immob-1: (134px, 145px, -134px, -145px, 38px, 45px, 292px, 253px, '../images/sprite.png', 'immob-1', );
$immob-2-hover-name: 'immob-2-hover';
$immob-2-hover-x: 256px;
$immob-2-hover-y: 0px;
$immob-2-hover-offset-x: -256px;
$immob-2-hover-offset-y: 0px;
$immob-2-hover-width: 36px;
$immob-2-hover-height: 43px;
$immob-2-hover-total-width: 292px;
$immob-2-hover-total-height: 253px;
$immob-2-hover-image: '../images/sprite.png';
$immob-2-hover: (256px, 0px, -256px, 0px, 36px, 43px, 292px, 253px, '../images/sprite.png', 'immob-2-hover', );
$immob-2-name: 'immob-2';
$immob-2-x: 256px;
$immob-2-y: 43px;
$immob-2-offset-x: -256px;
$immob-2-offset-y: -43px;
$immob-2-width: 36px;
$immob-2-height: 43px;
$immob-2-total-width: 292px;
$immob-2-total-height: 253px;
$immob-2-image: '../images/sprite.png';
$immob-2: (256px, 43px, -256px, -43px, 36px, 43px, 292px, 253px, '../images/sprite.png', 'immob-2', );
$kreis-1-name: 'kreis-1';
$kreis-1-x: 192px;
$kreis-1-y: 48px;
$kreis-1-offset-x: -192px;
$kreis-1-offset-y: -48px;
$kreis-1-width: 41px;
$kreis-1-height: 47px;
$kreis-1-total-width: 292px;
$kreis-1-total-height: 253px;
$kreis-1-image: '../images/sprite.png';
$kreis-1: (192px, 48px, -192px, -48px, 41px, 47px, 292px, 253px, '../images/sprite.png', 'kreis-1', );
$kreis-2-name: 'kreis-2';
$kreis-2-x: 61px;
$kreis-2-y: 72px;
$kreis-2-offset-x: -61px;
$kreis-2-offset-y: -72px;
$kreis-2-width: 64px;
$kreis-2-height: 62px;
$kreis-2-total-width: 292px;
$kreis-2-total-height: 253px;
$kreis-2-image: '../images/sprite.png';
$kreis-2: (61px, 72px, -61px, -72px, 64px, 62px, 292px, 253px, '../images/sprite.png', 'kreis-2', );
$kreis-3-name: 'kreis-3';
$kreis-3-x: 192px;
$kreis-3-y: 0px;
$kreis-3-offset-x: -192px;
$kreis-3-offset-y: 0px;
$kreis-3-width: 64px;
$kreis-3-height: 48px;
$kreis-3-total-width: 292px;
$kreis-3-total-height: 253px;
$kreis-3-image: '../images/sprite.png';
$kreis-3: (192px, 0px, -192px, 0px, 64px, 48px, 292px, 253px, '../images/sprite.png', 'kreis-3', );
$logo-name: 'logo';
$logo-x: 61px;
$logo-y: 0px;
$logo-offset-x: -61px;
$logo-offset-y: 0px;
$logo-width: 73px;
$logo-height: 72px;
$logo-total-width: 292px;
$logo-total-height: 253px;
$logo-image: '../images/sprite.png';
$logo: (61px, 0px, -61px, 0px, 73px, 72px, 292px, 253px, '../images/sprite.png', 'logo', );
$soz-ico-1-name: 'soz-ico-1';
$soz-ico-1-x: 256px;
$soz-ico-1-y: 151px;
$soz-ico-1-offset-x: -256px;
$soz-ico-1-offset-y: -151px;
$soz-ico-1-width: 24px;
$soz-ico-1-height: 14px;
$soz-ico-1-total-width: 292px;
$soz-ico-1-total-height: 253px;
$soz-ico-1-image: '../images/sprite.png';
$soz-ico-1: (256px, 151px, -256px, -151px, 24px, 14px, 292px, 253px, '../images/sprite.png', 'soz-ico-1', );
$soz-ico-2-name: 'soz-ico-2';
$soz-ico-2-x: 256px;
$soz-ico-2-y: 165px;
$soz-ico-2-offset-x: -256px;
$soz-ico-2-offset-y: -165px;
$soz-ico-2-width: 12px;
$soz-ico-2-height: 21px;
$soz-ico-2-total-width: 292px;
$soz-ico-2-total-height: 253px;
$soz-ico-2-image: '../images/sprite.png';
$soz-ico-2: (256px, 165px, -256px, -165px, 12px, 21px, 292px, 253px, '../images/sprite.png', 'soz-ico-2', );
$soz-ico-3-name: 'soz-ico-3';
$soz-ico-3-x: 256px;
$soz-ico-3-y: 134px;
$soz-ico-3-offset-x: -256px;
$soz-ico-3-offset-y: -134px;
$soz-ico-3-width: 21px;
$soz-ico-3-height: 17px;
$soz-ico-3-total-width: 292px;
$soz-ico-3-total-height: 253px;
$soz-ico-3-image: '../images/sprite.png';
$soz-ico-3: (256px, 134px, -256px, -134px, 21px, 17px, 292px, 253px, '../images/sprite.png', 'soz-ico-3', );
$swiper-button-next-name: 'swiper-button-next';
$swiper-button-next-x: 134px;
$swiper-button-next-y: 0px;
$swiper-button-next-offset-x: -134px;
$swiper-button-next-offset-y: 0px;
$swiper-button-next-width: 58px;
$swiper-button-next-height: 58px;
$swiper-button-next-total-width: 292px;
$swiper-button-next-total-height: 253px;
$swiper-button-next-image: '../images/sprite.png';
$swiper-button-next: (134px, 0px, -134px, 0px, 58px, 58px, 292px, 253px, '../images/sprite.png', 'swiper-button-next', );
$swiper-button-prev-name: 'swiper-button-prev';
$swiper-button-prev-x: 61px;
$swiper-button-prev-y: 134px;
$swiper-button-prev-offset-x: -61px;
$swiper-button-prev-offset-y: -134px;
$swiper-button-prev-width: 58px;
$swiper-button-prev-height: 58px;
$swiper-button-prev-total-width: 292px;
$swiper-button-prev-total-height: 253px;
$swiper-button-prev-image: '../images/sprite.png';
$swiper-button-prev: (61px, 134px, -61px, -134px, 58px, 58px, 292px, 253px, '../images/sprite.png', 'swiper-button-prev', );
$spritesheet-width: 292px;
$spritesheet-height: 253px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($application-mob, $application, $examples-slid-next-hover, $examples-slid-next, $examples-slid-prev-hover, $examples-slid-prev, $footer-map, $footer-mass, $footer-phone, $footer-tim, $immob-1-hover, $immob-1, $immob-2-hover, $immob-2, $kreis-1, $kreis-2, $kreis-3, $logo, $soz-ico-1, $soz-ico-2, $soz-ico-3, $swiper-button-next, $swiper-button-prev, );
$spritesheet: (292px, 253px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
