/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$examples-slid-next-hover-name: 'examples-slid-next-hover';
$examples-slid-next-hover-x: 167px;
$examples-slid-next-hover-y: 95px;
$examples-slid-next-hover-offset-x: -167px;
$examples-slid-next-hover-offset-y: -95px;
$examples-slid-next-hover-width: 15px;
$examples-slid-next-hover-height: 24px;
$examples-slid-next-hover-total-width: 201px;
$examples-slid-next-hover-total-height: 175px;
$examples-slid-next-hover-image: '../images/sprite.png';
$examples-slid-next-hover: (167px, 95px, -167px, -95px, 15px, 24px, 201px, 175px, '../images/sprite.png', 'examples-slid-next-hover', );
$examples-slid-next-name: 'examples-slid-next';
$examples-slid-next-x: 178px;
$examples-slid-next-y: 48px;
$examples-slid-next-offset-x: -178px;
$examples-slid-next-offset-y: -48px;
$examples-slid-next-width: 15px;
$examples-slid-next-height: 24px;
$examples-slid-next-total-width: 201px;
$examples-slid-next-total-height: 175px;
$examples-slid-next-image: '../images/sprite.png';
$examples-slid-next: (178px, 48px, -178px, -48px, 15px, 24px, 201px, 175px, '../images/sprite.png', 'examples-slid-next', );
$examples-slid-prev-hover-name: 'examples-slid-prev-hover';
$examples-slid-prev-hover-x: 152px;
$examples-slid-prev-hover-y: 95px;
$examples-slid-prev-hover-offset-x: -152px;
$examples-slid-prev-hover-offset-y: -95px;
$examples-slid-prev-hover-width: 15px;
$examples-slid-prev-hover-height: 24px;
$examples-slid-prev-hover-total-width: 201px;
$examples-slid-prev-hover-total-height: 175px;
$examples-slid-prev-hover-image: '../images/sprite.png';
$examples-slid-prev-hover: (152px, 95px, -152px, -95px, 15px, 24px, 201px, 175px, '../images/sprite.png', 'examples-slid-prev-hover', );
$examples-slid-prev-name: 'examples-slid-prev';
$examples-slid-prev-x: 137px;
$examples-slid-prev-y: 95px;
$examples-slid-prev-offset-x: -137px;
$examples-slid-prev-offset-y: -95px;
$examples-slid-prev-width: 15px;
$examples-slid-prev-height: 24px;
$examples-slid-prev-total-width: 201px;
$examples-slid-prev-total-height: 175px;
$examples-slid-prev-image: '../images/sprite.png';
$examples-slid-prev: (137px, 95px, -137px, -95px, 15px, 24px, 201px, 175px, '../images/sprite.png', 'examples-slid-prev', );
$immob-1-hover-name: 'immob-1-hover';
$immob-1-hover-x: 0px;
$immob-1-hover-y: 130px;
$immob-1-hover-offset-x: 0px;
$immob-1-hover-offset-y: -130px;
$immob-1-hover-width: 38px;
$immob-1-hover-height: 45px;
$immob-1-hover-total-width: 201px;
$immob-1-hover-total-height: 175px;
$immob-1-hover-image: '../images/sprite.png';
$immob-1-hover: (0px, 130px, 0px, -130px, 38px, 45px, 201px, 175px, '../images/sprite.png', 'immob-1-hover', );
$immob-1-name: 'immob-1';
$immob-1-x: 38px;
$immob-1-y: 130px;
$immob-1-offset-x: -38px;
$immob-1-offset-y: -130px;
$immob-1-width: 38px;
$immob-1-height: 45px;
$immob-1-total-width: 201px;
$immob-1-total-height: 175px;
$immob-1-image: '../images/sprite.png';
$immob-1: (38px, 130px, -38px, -130px, 38px, 45px, 201px, 175px, '../images/sprite.png', 'immob-1', );
$immob-2-hover-name: 'immob-2-hover';
$immob-2-hover-x: 76px;
$immob-2-hover-y: 130px;
$immob-2-hover-offset-x: -76px;
$immob-2-hover-offset-y: -130px;
$immob-2-hover-width: 36px;
$immob-2-hover-height: 43px;
$immob-2-hover-total-width: 201px;
$immob-2-hover-total-height: 175px;
$immob-2-hover-image: '../images/sprite.png';
$immob-2-hover: (76px, 130px, -76px, -130px, 36px, 43px, 201px, 175px, '../images/sprite.png', 'immob-2-hover', );
$immob-2-name: 'immob-2';
$immob-2-x: 112px;
$immob-2-y: 130px;
$immob-2-offset-x: -112px;
$immob-2-offset-y: -130px;
$immob-2-width: 36px;
$immob-2-height: 43px;
$immob-2-total-width: 201px;
$immob-2-total-height: 175px;
$immob-2-image: '../images/sprite.png';
$immob-2: (112px, 130px, -112px, -130px, 36px, 43px, 201px, 175px, '../images/sprite.png', 'immob-2', );
$kreis-1-name: 'kreis-1';
$kreis-1-x: 137px;
$kreis-1-y: 48px;
$kreis-1-offset-x: -137px;
$kreis-1-offset-y: -48px;
$kreis-1-width: 41px;
$kreis-1-height: 47px;
$kreis-1-total-width: 201px;
$kreis-1-total-height: 175px;
$kreis-1-image: '../images/sprite.png';
$kreis-1: (137px, 48px, -137px, -48px, 41px, 47px, 201px, 175px, '../images/sprite.png', 'kreis-1', );
$kreis-2-name: 'kreis-2';
$kreis-2-x: 73px;
$kreis-2-y: 0px;
$kreis-2-offset-x: -73px;
$kreis-2-offset-y: 0px;
$kreis-2-width: 64px;
$kreis-2-height: 62px;
$kreis-2-total-width: 201px;
$kreis-2-total-height: 175px;
$kreis-2-image: '../images/sprite.png';
$kreis-2: (73px, 0px, -73px, 0px, 64px, 62px, 201px, 175px, '../images/sprite.png', 'kreis-2', );
$kreis-3-name: 'kreis-3';
$kreis-3-x: 137px;
$kreis-3-y: 0px;
$kreis-3-offset-x: -137px;
$kreis-3-offset-y: 0px;
$kreis-3-width: 64px;
$kreis-3-height: 48px;
$kreis-3-total-width: 201px;
$kreis-3-total-height: 175px;
$kreis-3-image: '../images/sprite.png';
$kreis-3: (137px, 0px, -137px, 0px, 64px, 48px, 201px, 175px, '../images/sprite.png', 'kreis-3', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 73px;
$logo-height: 72px;
$logo-total-width: 201px;
$logo-total-height: 175px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 73px, 72px, 201px, 175px, '../images/sprite.png', 'logo', );
$swiper-button-next-name: 'swiper-button-next';
$swiper-button-next-x: 58px;
$swiper-button-next-y: 72px;
$swiper-button-next-offset-x: -58px;
$swiper-button-next-offset-y: -72px;
$swiper-button-next-width: 58px;
$swiper-button-next-height: 58px;
$swiper-button-next-total-width: 201px;
$swiper-button-next-total-height: 175px;
$swiper-button-next-image: '../images/sprite.png';
$swiper-button-next: (58px, 72px, -58px, -72px, 58px, 58px, 201px, 175px, '../images/sprite.png', 'swiper-button-next', );
$swiper-button-prev-name: 'swiper-button-prev';
$swiper-button-prev-x: 0px;
$swiper-button-prev-y: 72px;
$swiper-button-prev-offset-x: 0px;
$swiper-button-prev-offset-y: -72px;
$swiper-button-prev-width: 58px;
$swiper-button-prev-height: 58px;
$swiper-button-prev-total-width: 201px;
$swiper-button-prev-total-height: 175px;
$swiper-button-prev-image: '../images/sprite.png';
$swiper-button-prev: (0px, 72px, 0px, -72px, 58px, 58px, 201px, 175px, '../images/sprite.png', 'swiper-button-prev', );
$spritesheet-width: 201px;
$spritesheet-height: 175px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($examples-slid-next-hover, $examples-slid-next, $examples-slid-prev-hover, $examples-slid-prev, $immob-1-hover, $immob-1, $immob-2-hover, $immob-2, $kreis-1, $kreis-2, $kreis-3, $logo, $swiper-button-next, $swiper-button-prev, );
$spritesheet: (201px, 175px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
