/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$examples-slid-next-hover-name: 'examples-slid-next-hover';
$examples-slid-next-hover-x: 179px;
$examples-slid-next-hover-y: 95px;
$examples-slid-next-hover-offset-x: -179px;
$examples-slid-next-hover-offset-y: -95px;
$examples-slid-next-hover-width: 15px;
$examples-slid-next-hover-height: 24px;
$examples-slid-next-hover-total-width: 239px;
$examples-slid-next-hover-total-height: 215px;
$examples-slid-next-hover-image: '../images/sprite.png';
$examples-slid-next-hover: (179px, 95px, -179px, -95px, 15px, 24px, 239px, 215px, '../images/sprite.png', 'examples-slid-next-hover', );
$examples-slid-next-name: 'examples-slid-next';
$examples-slid-next-x: 201px;
$examples-slid-next-y: 133px;
$examples-slid-next-offset-x: -201px;
$examples-slid-next-offset-y: -133px;
$examples-slid-next-width: 15px;
$examples-slid-next-height: 24px;
$examples-slid-next-total-width: 239px;
$examples-slid-next-total-height: 215px;
$examples-slid-next-image: '../images/sprite.png';
$examples-slid-next: (201px, 133px, -201px, -133px, 15px, 24px, 239px, 215px, '../images/sprite.png', 'examples-slid-next', );
$examples-slid-prev-hover-name: 'examples-slid-prev-hover';
$examples-slid-prev-hover-x: 178px;
$examples-slid-prev-hover-y: 48px;
$examples-slid-prev-hover-offset-x: -178px;
$examples-slid-prev-hover-offset-y: -48px;
$examples-slid-prev-hover-width: 15px;
$examples-slid-prev-hover-height: 24px;
$examples-slid-prev-hover-total-width: 239px;
$examples-slid-prev-hover-total-height: 215px;
$examples-slid-prev-hover-image: '../images/sprite.png';
$examples-slid-prev-hover: (178px, 48px, -178px, -48px, 15px, 24px, 239px, 215px, '../images/sprite.png', 'examples-slid-prev-hover', );
$examples-slid-prev-name: 'examples-slid-prev';
$examples-slid-prev-x: 216px;
$examples-slid-prev-y: 133px;
$examples-slid-prev-offset-x: -216px;
$examples-slid-prev-offset-y: -133px;
$examples-slid-prev-width: 15px;
$examples-slid-prev-height: 24px;
$examples-slid-prev-total-width: 239px;
$examples-slid-prev-total-height: 215px;
$examples-slid-prev-image: '../images/sprite.png';
$examples-slid-prev: (216px, 133px, -216px, -133px, 15px, 24px, 239px, 215px, '../images/sprite.png', 'examples-slid-prev', );
$footer-map-name: 'footer-map';
$footer-map-x: 43px;
$footer-map-y: 130px;
$footer-map-offset-x: -43px;
$footer-map-offset-y: -130px;
$footer-map-width: 43px;
$footer-map-height: 42px;
$footer-map-total-width: 239px;
$footer-map-total-height: 215px;
$footer-map-image: '../images/sprite.png';
$footer-map: (43px, 130px, -43px, -130px, 43px, 42px, 239px, 215px, '../images/sprite.png', 'footer-map', );
$footer-mass-name: 'footer-mass';
$footer-mass-x: 137px;
$footer-mass-y: 95px;
$footer-mass-offset-x: -137px;
$footer-mass-offset-y: -95px;
$footer-mass-width: 42px;
$footer-mass-height: 34px;
$footer-mass-total-width: 239px;
$footer-mass-total-height: 215px;
$footer-mass-image: '../images/sprite.png';
$footer-mass: (137px, 95px, -137px, -95px, 42px, 34px, 239px, 215px, '../images/sprite.png', 'footer-mass', );
$footer-phone-name: 'footer-phone';
$footer-phone-x: 86px;
$footer-phone-y: 130px;
$footer-phone-offset-x: -86px;
$footer-phone-offset-y: -130px;
$footer-phone-width: 42px;
$footer-phone-height: 42px;
$footer-phone-total-width: 239px;
$footer-phone-total-height: 215px;
$footer-phone-image: '../images/sprite.png';
$footer-phone: (86px, 130px, -86px, -130px, 42px, 42px, 239px, 215px, '../images/sprite.png', 'footer-phone', );
$footer-tim-name: 'footer-tim';
$footer-tim-x: 0px;
$footer-tim-y: 130px;
$footer-tim-offset-x: 0px;
$footer-tim-offset-y: -130px;
$footer-tim-width: 43px;
$footer-tim-height: 42px;
$footer-tim-total-width: 239px;
$footer-tim-total-height: 215px;
$footer-tim-image: '../images/sprite.png';
$footer-tim: (0px, 130px, 0px, -130px, 43px, 42px, 239px, 215px, '../images/sprite.png', 'footer-tim', );
$immob-1-hover-name: 'immob-1-hover';
$immob-1-hover-x: 201px;
$immob-1-hover-y: 0px;
$immob-1-hover-offset-x: -201px;
$immob-1-hover-offset-y: 0px;
$immob-1-hover-width: 38px;
$immob-1-hover-height: 45px;
$immob-1-hover-total-width: 239px;
$immob-1-hover-total-height: 215px;
$immob-1-hover-image: '../images/sprite.png';
$immob-1-hover: (201px, 0px, -201px, 0px, 38px, 45px, 239px, 215px, '../images/sprite.png', 'immob-1-hover', );
$immob-1-name: 'immob-1';
$immob-1-x: 201px;
$immob-1-y: 45px;
$immob-1-offset-x: -201px;
$immob-1-offset-y: -45px;
$immob-1-width: 38px;
$immob-1-height: 45px;
$immob-1-total-width: 239px;
$immob-1-total-height: 215px;
$immob-1-image: '../images/sprite.png';
$immob-1: (201px, 45px, -201px, -45px, 38px, 45px, 239px, 215px, '../images/sprite.png', 'immob-1', );
$immob-2-hover-name: 'immob-2-hover';
$immob-2-hover-x: 0px;
$immob-2-hover-y: 172px;
$immob-2-hover-offset-x: 0px;
$immob-2-hover-offset-y: -172px;
$immob-2-hover-width: 36px;
$immob-2-hover-height: 43px;
$immob-2-hover-total-width: 239px;
$immob-2-hover-total-height: 215px;
$immob-2-hover-image: '../images/sprite.png';
$immob-2-hover: (0px, 172px, 0px, -172px, 36px, 43px, 239px, 215px, '../images/sprite.png', 'immob-2-hover', );
$immob-2-name: 'immob-2';
$immob-2-x: 201px;
$immob-2-y: 90px;
$immob-2-offset-x: -201px;
$immob-2-offset-y: -90px;
$immob-2-width: 36px;
$immob-2-height: 43px;
$immob-2-total-width: 239px;
$immob-2-total-height: 215px;
$immob-2-image: '../images/sprite.png';
$immob-2: (201px, 90px, -201px, -90px, 36px, 43px, 239px, 215px, '../images/sprite.png', 'immob-2', );
$kreis-1-name: 'kreis-1';
$kreis-1-x: 137px;
$kreis-1-y: 48px;
$kreis-1-offset-x: -137px;
$kreis-1-offset-y: -48px;
$kreis-1-width: 41px;
$kreis-1-height: 47px;
$kreis-1-total-width: 239px;
$kreis-1-total-height: 215px;
$kreis-1-image: '../images/sprite.png';
$kreis-1: (137px, 48px, -137px, -48px, 41px, 47px, 239px, 215px, '../images/sprite.png', 'kreis-1', );
$kreis-2-name: 'kreis-2';
$kreis-2-x: 73px;
$kreis-2-y: 0px;
$kreis-2-offset-x: -73px;
$kreis-2-offset-y: 0px;
$kreis-2-width: 64px;
$kreis-2-height: 62px;
$kreis-2-total-width: 239px;
$kreis-2-total-height: 215px;
$kreis-2-image: '../images/sprite.png';
$kreis-2: (73px, 0px, -73px, 0px, 64px, 62px, 239px, 215px, '../images/sprite.png', 'kreis-2', );
$kreis-3-name: 'kreis-3';
$kreis-3-x: 137px;
$kreis-3-y: 0px;
$kreis-3-offset-x: -137px;
$kreis-3-offset-y: 0px;
$kreis-3-width: 64px;
$kreis-3-height: 48px;
$kreis-3-total-width: 239px;
$kreis-3-total-height: 215px;
$kreis-3-image: '../images/sprite.png';
$kreis-3: (137px, 0px, -137px, 0px, 64px, 48px, 239px, 215px, '../images/sprite.png', 'kreis-3', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 73px;
$logo-height: 72px;
$logo-total-width: 239px;
$logo-total-height: 215px;
$logo-image: '../images/sprite.png';
$logo: (0px, 0px, 0px, 0px, 73px, 72px, 239px, 215px, '../images/sprite.png', 'logo', );
$soz-ico-1-name: 'soz-ico-1';
$soz-ico-1-x: 201px;
$soz-ico-1-y: 157px;
$soz-ico-1-offset-x: -201px;
$soz-ico-1-offset-y: -157px;
$soz-ico-1-width: 24px;
$soz-ico-1-height: 14px;
$soz-ico-1-total-width: 239px;
$soz-ico-1-total-height: 215px;
$soz-ico-1-image: '../images/sprite.png';
$soz-ico-1: (201px, 157px, -201px, -157px, 24px, 14px, 239px, 215px, '../images/sprite.png', 'soz-ico-1', );
$soz-ico-2-name: 'soz-ico-2';
$soz-ico-2-x: 116px;
$soz-ico-2-y: 72px;
$soz-ico-2-offset-x: -116px;
$soz-ico-2-offset-y: -72px;
$soz-ico-2-width: 12px;
$soz-ico-2-height: 21px;
$soz-ico-2-total-width: 239px;
$soz-ico-2-total-height: 215px;
$soz-ico-2-image: '../images/sprite.png';
$soz-ico-2: (116px, 72px, -116px, -72px, 12px, 21px, 239px, 215px, '../images/sprite.png', 'soz-ico-2', );
$soz-ico-3-name: 'soz-ico-3';
$soz-ico-3-x: 178px;
$soz-ico-3-y: 72px;
$soz-ico-3-offset-x: -178px;
$soz-ico-3-offset-y: -72px;
$soz-ico-3-width: 21px;
$soz-ico-3-height: 17px;
$soz-ico-3-total-width: 239px;
$soz-ico-3-total-height: 215px;
$soz-ico-3-image: '../images/sprite.png';
$soz-ico-3: (178px, 72px, -178px, -72px, 21px, 17px, 239px, 215px, '../images/sprite.png', 'soz-ico-3', );
$swiper-button-next-name: 'swiper-button-next';
$swiper-button-next-x: 58px;
$swiper-button-next-y: 72px;
$swiper-button-next-offset-x: -58px;
$swiper-button-next-offset-y: -72px;
$swiper-button-next-width: 58px;
$swiper-button-next-height: 58px;
$swiper-button-next-total-width: 239px;
$swiper-button-next-total-height: 215px;
$swiper-button-next-image: '../images/sprite.png';
$swiper-button-next: (58px, 72px, -58px, -72px, 58px, 58px, 239px, 215px, '../images/sprite.png', 'swiper-button-next', );
$swiper-button-prev-name: 'swiper-button-prev';
$swiper-button-prev-x: 0px;
$swiper-button-prev-y: 72px;
$swiper-button-prev-offset-x: 0px;
$swiper-button-prev-offset-y: -72px;
$swiper-button-prev-width: 58px;
$swiper-button-prev-height: 58px;
$swiper-button-prev-total-width: 239px;
$swiper-button-prev-total-height: 215px;
$swiper-button-prev-image: '../images/sprite.png';
$swiper-button-prev: (0px, 72px, 0px, -72px, 58px, 58px, 239px, 215px, '../images/sprite.png', 'swiper-button-prev', );
$spritesheet-width: 239px;
$spritesheet-height: 215px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($examples-slid-next-hover, $examples-slid-next, $examples-slid-prev-hover, $examples-slid-prev, $footer-map, $footer-mass, $footer-phone, $footer-tim, $immob-1-hover, $immob-1, $immob-2-hover, $immob-2, $kreis-1, $kreis-2, $kreis-3, $logo, $soz-ico-1, $soz-ico-2, $soz-ico-3, $swiper-button-next, $swiper-button-prev, );
$spritesheet: (239px, 215px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
